extends layout

block head
  link(rel="stylesheet", href="/css/about.css")

block content

  h1.heading The website is developed by:- 
  hr

  ul
    li Suraj pandey
    li Bishal Bista
    li Bijay Rijal
    li Kiran Khadka
    li Marwane Bakkaali Hassani
