extends layout.pug

block head 
    link(rel="stylesheet", href="/css/cities.css")

block content

  h1 Top 10 Pouplated City!

  table.center
    thead
      th.start City Name
      th.start Population
    tbody
      each row in rows
        tr
          td #{row.City}
          - const population = new Intl.NumberFormat().format(row.Population);
          td #{population}
